{% extends "main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Login{% endblock %}

{% block page_content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    <form class="login-form" method="POST" action="">
    	{{ wtf.form_field(form.username) }}
    	{{ wtf.form_field(form.password) }}
    	{{ form.csrf_token }}
    	<input type="submit" name="login_user" value = "Login!">
    </form>
    <br>
    <p>New user? <a href="{{ url_for('signup') }}">Click here to register</a>.</p>
</div>
{% endblock %}