<form action="/update/{{plan_to_update.id}}" METHOD="POST">
    <input type="text" placeholder="Day" name="day" value="{{plan_to_update.name}}">
    <input type="text" placeholder="Morning" name="morning" value="{{plan_to_update.name}}">
    <input type="text" placeholder="Noon" name="noon" value="{{plan_to_update.name}}">
    <input type="text" placeholder="Evening" name="evening" value="{{plan_to_update.name}}">
    <input type="text" placeholder="Calories In" name="calories" value="{{plan_to_update.name}}">
    <input type="submit" value = "Update it!">
</form>